*{
    margin: 1;
    padding:1;
}
ul li{
    text-decoration: none;
}
.logo {
    height: 8vh;
    width: 8vw;
    object-fit: contain;
    /* width: 100px;
    height: 100px; */
    transition: width 2s, height 2s, transform 1s;
  }
  .nav-bar h1 {
      margin: 5px;
  }
  .logo:hover {
    height: 8vh;
    width: 8vw;
    transform: rotate(360deg);
  }

section{
    height: 100vh;
    border: black;
    
}
.landing{
    
}
#article-top-stories{
    
    display:block;
    
   
   
    max-height:500px;
    margin:0;
    background:#abc;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(90deg) ;
    transform-origin:center;

}
.top-stories{
    list-style-type: none;
    

    /* justify-content: space-around; */
    /* max-height: 50vh; */
}
.landing{
    margin-top: 10px;
    outline: 5px solid red;
    max-height: 70vh;   
    overflow:auto;
    
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}
.headings{
    color: aliceblue;
}
.nav-bar{
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* .article-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    width:90%;
    
}
.article-card h5{
    float: right;
}
.article-title{
    
}
.fakeimg{
    max-height:75%;
    width:75%
} */
.article-card{
    background-color: #bbb;
    transform:rotate(270deg) ;

  }
  .article-cont{
    display: flex;
    justify-content: space-between;
    
}
.fakeimg{
    height:30%;
    width:30%;
    padding:10px
    
  }
  .description{
      float: left;
    }
    button{
        cursor: pointer;
    }

/* ////////////Search section/////////////////// */
    .searched{
        margin-top: 15px;
        outline: 5px solid blue;
        overflow: scroll;
        overflow-wrap: normal;
    }
    .head-search{
        margin: 0 auto;
        display: flex;
        align-items: center;    
        justify-content: space-between;
    }
    #search-form{
        display: inline;
    }