*{
    margin: 0;
    padding:1;
}
ul li{
    text-decoration: none;
}
.logo {
    height: 8vh;
    width: 8vw;
    object-fit: contain;
    /* width: 100px;
    height: 100px; */
    transition: width 2s, height 2s, transform 1s;
  }
  .nav-bar h1 {
      margin: 5px;
  }
  .logo:hover {
    height: 8vh;
    width: 8vw;
    transform: rotate(360deg);
  }

section{
    height: 100vh;
    border: black;
}
#top-stories{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.top-stories{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow:auto;
}
.landing{
    background-color: blueviolet;
    max-height: 55vh;
}
.headings{
    color: aliceblue;
}
.nav-bar{
    background-color:orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.searched{
    background-color: blue;
}