* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px 10%;
  /*position: fixed;*/
  top: 0;
  width: 100vw;
  font-size: larger;
}

.nav-links {
  display: flex;
  list-style-type: none;
  transition: all 0.3s linear;
}

.nav-link a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-link a:hover {
  color: #2a9d8f;
}

.hamburger {
  display: none;
  font-family: "Do Hyeon", sans-serif;
}
.headings {
  font-size: xx-large;
}
@media screen and (max-width: 535px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    width: 0px;
    overflow: hidden;
    position: fixed;
    top: 40px;
    background: transparent;
    left: 0;
    justify-content: center;
    height: 40px;
    align-items: center;
  }
}
